/* CSS Document */

/* CENTER */
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    width:35%;
    height:25%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.emoji {
    width:25%;
    height:25%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* TYPE */
.Typography {
	text-decoration: none;
    font-family:monospace;
    font-size: 65px;
}

.Typography2 {
	text-decoration: none;
    font-family:monospace;
    font-size: 25px;
}
